/* App.css */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:bisque;
}

form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color:antiquewhite;
}

h2 {
  margin-top: 0;
  text-align: center;
}

.Field {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="range"] {
  width: 100%;
}

textarea {
  width: 100%;
  height: 100px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
